/*
#1 = 417630
#2 = 417630
*/
a {
	color: #417630;
}
a:hover {
	color: #417630;
}

/* menu */
.nav>li>a:hover {
	color: #54ee23;
}

.navbar .navbar-nav > .active > a {
	color: #54ee23;
}
.navbar .navbar-brand:hover {
	color: #54ee23;
}

/* flexslider */
.flex-control-paging li a {
	background: #417630;
}

.flex-direction-nav a:hover{
	background-color:#417630;
}

.testimonial span.author a {
	color: #417630;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #417630;
	box-shadow: 0 0 0 4px #417630;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #417630;
	box-shadow: 0 0 0 8px  #417630;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #417630;
}

/* btn */
.btn-theme {
  background: #417630;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #417630;
}
.btn-cta,.btn-cta.btn-lg {
  background: #417630;
  border-color: #417630;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #417630;
}

/* footer */
.social-circle li a {
	background:#417630;
}

a.scrollup{
	background:#417630;
}

.carousel-caption p {
    background: none;
}

.carousel-caption h2 {
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group button[type="livedemo"] {
    padding: 20px 60px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group button[type="livedemo"]:hover {
    padding: 20px 60px;
    font-size: 20px;
    background: #fff;
    color: #000;
    border-radius: 0;
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group button[type="getnow"]:hover {
    padding: 20px 60px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
}

#testimonials-3 {
    background-image: url(../img/parallax/chameleon.jpg);
    height: 500px;
    background-size: cover;
    background-position: 50% 130%;
}

/**
.team-member .profile-picture .profile-overlay {
    height: 94%;
    width: 94%;
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 3%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: border;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    display: block;
}
*/

.team-member .team-bio {
     right: 40px;
}

.team-member:hover {
    /** background-color: #555; */
    background-color: rgba(255,255,255,0.5)
}

