/*
#1 = 417630
#2 = 417630
*/
/**
a {
	color: #417630;
}
a:hover {
	color: #417630;
}
*/

/* menu */

.nav>li>a:hover, nav>li>a:focus {
	color: #428bca;
}

.navbar .navbar-nav > .active > a {
	color: #428bca;
}
.navbar .navbar-brand:hover {
	color: #428bca;
}

/* flexslider */
.flex-control-paging li a {
	background: #417630;
}

.flex-direction-nav a:hover{
	background-color:#417630;
}

.testimonial span.author a {
	color: #417630;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #417630;
	box-shadow: 0 0 0 4px #417630;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #417630;
	box-shadow: 0 0 0 8px  #417630;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #417630;
}

/* btn */
.btn-theme {
  background: #417630;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #417630;
}
.btn-cta,.btn-cta.btn-lg {
  background: #417630;
  border-color: #417630;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #417630;
}

/* footer */
.social-circle li a {
	background: #417630;
}

a.scrollup{
	background: #428bca;
}

.carousel-caption p {
    background: none;
}

.carousel-caption .date {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 0px;
  padding: 0px;
}

.carousel-caption h2 {
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group .livedemo {
    background: #000;
    border-color: #fff;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group .livedemo:hover {
    padding: 20px 60px;
    font-size: 20px;
    background: #fff;
    color: #000;
    border-radius: 0;
    text-transform: uppercase;
}


.carousel-inner .form-inline .form-group .getnow {
    background: #fff;
    border-radius: 0;
    color: #000;
    font-size: 20px;
    padding: 20px 60px;
    text-transform: uppercase;
}

.carousel-inner .form-inline .form-group .getnow:hover {
    padding: 20px 60px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
}

#testimonials-3 {
    background-image: url(../img/parallax/chameleon.jpg);
    height: 500px;
    background-size: cover;
    background-position: 50% 130%;
}

.company h4 span {
    color: #428bca;
}

.team-member .team-bio p {
}

.team-member:hover .team-bio p {
}

.team-member:hover .team-bio {
}

.team-member .team-bio {
     right: 40px;
     background-color: #eee;
/*     overflow: scroll;
     height: 100px;*/
}

.team-member:hover {
    background-color: rgba(255,255,255,0.5)
}

.team-member span {
    color: #428bca;
    font-family: "Titillium Web",sans-serif;
    font-size: 0.875em;
    text-transform: uppercase;
}

#parallax1 {
    /*background-color:linear-gradient(0deg, hsl(0, 100%, 50%), hsl(40, 50%, 50%));*/
    background-color: #242424;
    background-image: url("../img/parallax/africa-map.svg");
    height: 500px;
    background-position: 80% 0%;
    /*background-size: 100%;*/
    /*background-position: 0% -100%;*/
    background-size: 50%;
    background-repeat: no-repeat;
    /*
    background-position: center bottom;
    /*-ms-transform: rotate(7deg);*/ /* IE 9 */
    /*-webkit-transform: rotate(7deg);*/ /* Safari */
    /*transform: rotate(7deg);*/
}

#parallax1 .container h2 span {
    background: rgba(105,105,105,0.5);
}

#parallax1 .container p span {
    background: rgba(105,105,105,0.5);
}

